{% extends "index.html" %}
{% block conteudo %}
<h4 class="comments-count">Avaliação</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('avaliacao') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="dt_inicio">Data de início</label>
                      <input name="dt_inicio" type="text" class="form-control" placeholder="" required>
                    </div>
                    <div class="col form-group">
                      <label for="peso">Peso</label>
                      <input name="peso" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="altura">Altura</label>
                      <input name="altura" type="text" class="form-control" placeholder="" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Cadastrar avaliação</button>

                </form>

              </div>
{% endblock conteudo %}