{% extends "index.html" %}
{% block conteudo %}

<div class="text-center">
    <h2 class="section-heading text-uppercase">Cadastrar</h2>
    <h3 class="section-subheading text-muted">preencha seus dados e cadastre-se.</h3>
</div>
<!-- * * * * * * * * * * * * * * *-->
<!-- * * SB Forms Contact Form * *-->
<!-- * * * * * * * * * * * * * * *-->
<!-- This form is pre-integrated with SB Forms.-->
<!-- To make this form functional, sign up at-->
<!-- https://startbootstrap.com/solution/contact-forms-->
<!-- to get an API token!-->
<form action="{{ url_for('cadastrar') }}" method="POST" id="contactForm" data-sb-form-api-token="API_TOKEN">
    <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
            <div class="form-group">
                <!-- Name input-->
                <input name="nome" class="form-control" id="name" type="text" placeholder="Seu nome" required />

            </div>
            <div class="form-group">
                <!-- Email address input-->
                <input name="email" class="form-control" id="email" type="email" placeholder="Seu email" required />
                <
            </div>
            <div class="form-group mb-md-0">
                <!-- Phone number input-->
                <input name="senha" class="form-control" id="senha" type="password" placeholder="Sua senha" required />
                <div class="invalid-feedback" data-sb-feedback="phone:required"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group form-group-textarea mb-md-0">
                <!-- Message input-->
                <textarea name="objetivo" class="form-control" id="message" placeholder="Seu objetivo" ></textarea>
                <div class="invalid-feedback" ></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>

    <!-- Submit success message-->
    <!---->
    <!-- This is what your users will see when the form-->
    <!-- has successfully submitted-->

</form>
{% endblock conteudo %}