{% extends "index.html" %}
{% block conteudo %}
<h4 class="comments-count">Cadastro de treino</h4>

              <div class="reply-form">

<!--                <h4>Leave a Reply</h4>-->
<!--                <p>Your email address will not be published. Required fields are marked * </p>-->
                <form action="{{ url_for('cadastrar_treino') }}" method="POST">
                  <div class="row">
                    <div class="col form-group">
                      <label for="nome_excc">Nome do exercício</label>
                      <input name="nome_excc" type="text" class="form-control" placeholder="" required>
                    </div>
                    <div class="col form-group">
                      <label for="series">Series</label>
                      <input name="series" type="text" class="form-control" placeholder="">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <label for="repeticoes">Repetições</label>
                      <input name="repetições" type="text" class="form-control" placeholder="">
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary">Cadastrar</button>

                </form>

              </div>
{% endblock conteudo %}